@{
  Layout = "_Layout";
}

@model VirtualDmScreen.Models.Character

<h2>Character Details:</h2>
<hr />

@* We dont really have much to display.  Just name and maybe ImageURL? *@


<br>
<p>@Html.ActionLink("Show all characters", "Index")</p>